<%- include('partials/header')%>
<div class="container">
  <h1><p><%=box.name%></p></h1>
  <div class="container">
    <p><img src='<%=box.image%>'> </p>
    <h3> <p>Address: <%=box.address%></p></h3>
    <a href="/boxes" class="btn btn-primary">Go Back</a>
    <p>
      <a href="/boxes/<%= box._id %>/edit" class="btn btn-primary">Edit</a>
    </p>
  </div>
  <form action="/boxes/<%=box._id%>?_method=DELETE" method="POST">
  <button class="btn btn-primary"></i>Delete</button> 
  </form>
</div>
<%- include('partials/footer')%>