<%- include('partials/header')%>
<div class="container">
  <h1><p><%=foundBox.name%></p></h1>
  <div class="container">
    <p><img src='<%=foundBox.image%>'> </p>
    <h3> <p>Address: <%=foundBox.address%></p></h3>
    <a href="/boxes" class="btn btn-primary">Go Back</a>
  </div>
</div>
<%- include('partials/footer')%>